@font-face {
font-family: "PressStart2P";
src: url("./media/PressStart2P.ttf");
}

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PressStart2P", sans-serif;
}

body * {
    font-family: "PressStart2P", sans-serif;
}

.loadFile {
    display: block;
    margin: 0;
    padding: 10px;
    background-color: #ade874;
    box-shadow: 0px 10px 0px 0px #7eaa55, 0px 17px 0px 0px #00000028;
    transform: translateY(-10px);
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.loadFile:hover {
    box-shadow: 0px 15px 0px 0px #7eaa55, 0px 27px 0px 0px #00000028;
    transform: translateY(-15px) !important;
}

.loadFile:active {
    box-shadow: 0px 3px 0px 0px #7eaa55, 0px 5px 0px 0px #00000028;
    transform: translateY(-3px) !important;
}

#debughandle {
    position: fixed;
    bottom: 0;
    left: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    transition-duration: 0.3s;
}
#debughandle * {
    user-select: none;
}
#debug {
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 10px;
    transform: translateY(220px);
    font-family: monospace;
    transition-duration: 0.3s;
}

.log-entry {
    font-size: 8px;
}

.log-type-log {
    color: rgb(233, 233, 233);
}

.log-type-info {
    color: rgb(198, 198, 198);
}

.log-type-debug {
    color: rgb(145, 145, 145);
}

.log-type-error {
    color: rgb(202, 37, 37);
}

.log-type-warn {
    color: rgb(192, 176, 31);
}

.skrompt {
  height: 128px;
  width: 128px;
  background: url('./media/skrompt.png');
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(45%, 65%);
  background-size: cover;
  opacity: 50%;
  transition: all 0.5s;
}

.skrompt:hover {
    height: 192px;
    width: 192px;
    transform: translate(0%, 0%);
    opacity: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}